<div class="push"></div>

<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns">
          <div class="column">
            <strong>About</strong> <br/ ><br />
            <a href="#">Home</a> <br />
            <a href="#">Code of Conduct</a> <br />
            <a href="#">GitHub</a> <br />
          </div>
          <div class="column">
            <strong>Events and Updates</strong> <br /><br />
            <a href="#">Newsletter</a> <br />
            <a href="#">Blogs</a> <br />
            <a href="https://www.meetup.com/Google-Cloud-Developer-Community-Indore/events/">Events</a>
          </div>
          <div class="column">
            <strong>Connect</strong><br /><br />
            <a href="https://www.meetup.com/Google-Cloud-Developer-Community-Indore/">Meetup</a> <br />
            <a href="#">Discord</a> <br />
            <a href="#">Instagram</a> <br />
            <a href="#">Facebook</a> <br />
            <a href="#">Twitter</a> <br />
          </div>
        </div>
        <div class="is-pulled-right is-hidden-touch">
            <img src="/res/logo.png" width="250" height="52">
        </div>
    </div>
</footer>

<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
